.footer-banner{
    padding: 50px;
    }
  

  
    .footer-banner-text > *{
      margin-bottom: 50px;
      font-family: plakkaat;
    }
  
    .footer-banner-btn-container{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
    }
    .footer-banner-btn{
      border-radius: 50px;
      background-color: black;
      padding: 25px;
      color: white;
      font-size: 25px;
      transition: 0.3s ;
    }

    .footer-banner-btn:hover{
      scale: 1.2 1.2;
    }