.hero-banner-container{
    padding: 100px 40px;
    border-radius: 15px;
    position: relative;
    min-height: 90vh;
    line-height: 0.9; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .hero-banner-text-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
  }

  #banner-image{
    object-fit: cover;
    width: 50%;
    height: auto;
    border-radius: 20px;
  }

  .hero-banner-text-container > *{
    margin-bottom: 50px;
}


@media screen and (max-width:1400px) {
  .hero-banner-text-container{
    width: 100%;
  }



}
