.container{
  /* margin-top: -10vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  padding: 50px;
  padding-bottom: 30vh;
  width: 100vw;
  position: relative;
  background-color: rgb(30, 19, 22);
  
}

.textBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  color: black;
}

  .textBox h1{
    font-size: 11vw;
    padding: 0;
    line-height: 11vw;
    overflow: hidden;
    display: flex;
  }

  .textBox >*{
    color: black;
    color: white;
    text-shadow: 0.1em 0.1em 0px black;
  } 

  .textBox h3{
    padding: 30px;
    font-size: 4vw;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    width: 100%;
  }

  .textBox h2{
    opacity: 1;
    display: none;
    position: absolute;
    font-size: 4vw;
  }

  .textBox h1 >*{
  }

  .textBox h3>*{
  }

  .imgBox{
    width: 120%;
    height: 100%;
    position: absolute;
    scale: 0.7;
    top: 80%;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    object-fit: cover;
    object-position: bottom;
  }
  .imgBox img{
   object-position: bottom;
   object-fit: cover;
   object-position: top;
 }
  



@media screen and (max-width:1400px) {


}

@media screen and (max-width:800px) {

  .textBox h1{
    font-size: 18vw;
    line-height: 18vw;
  }

  .textBox h3{
    font-size: 8vw;
    padding: 0px;
    width: 100vw;
  }

  .textBox h2{
    font-size: 8vw;
    padding: 0px;
    width: 100vw;
  }
  }