.container{
    padding: 40px;
    position: relative;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--textColor) ;
}

.card p, .card li{
    font-size: 3vw;
    line-height: 2em;
}

.image{
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 90vh;
    height: 90dvh;
    height: 90svh;
    border-radius: 20px;
    overflow: hidden;
}
.image * {
    transition: 0.3s;
}
.image:hover *{
    scale: 1.2 1.2;
}

.txtBox{
    position: relative;
    height: 100%;
}
.txt{
    z-index: 1;
}
.txt *{
    position: relative;
}

