.page{
    padding: 0 50px;
    padding-top: 10vh;
    background-color: var(--bgColor);
}

.pinSpacer{
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.page h1{
    font-family: plakkaat;
    font-size: clamp(30px, 7vw,150px);
    text-align: center;
    line-height: 3.5rem;
}
.page h2{
    /* line-height: 1.2em; */
    font-size: clamp(20px, 4vw,100px);
    margin: 100px 0;
    line-height: 3.5rem;
}

.introContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    width:100%
}

.card{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.textContainer{
    position: absolute; 
    z-index: 10;
    background-color: var(--html);
    background-color: var(--bgColor);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--textColor);
}

.textContainer div{
    position: absolute; 
    z-index: 10;
    background-color: var(--html);;
    background-color: var(--bgColor);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: var(--textColor);
    line-height: 3.5rem;
}

.textContainer p{
    display: flex;
    flex-wrap: wrap;
    color: var(--textColor);
    
}

.textContainer p span{
    margin-right: 12px;
    font-size: clamp(25px,5vw,100px);
    line-height: 5.5rem;
    /* line-height: 2em; */
    opacity: 0.4;
    opacity: 1;
    transition: 0.3s;
    color: var(--textColor);
    opacity: 0.2;
}

.imgBox{
    position: relative;
    width: 100%;
    height: 80vh;
    scale: 1;
    border-radius: 20px;
    overflow: hidden;
}

.imgBox image{
    object-fit: contain;
}



/* LastSection  */

.lastSection{
    background-color: var(--html);
    background-color: var(--bgColor);
    outline: 10px solid var(--html);
    outline: 10px solid var(--bgColor);
    color: var(--html);
}
/* Key points styles */

.keyPointContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.keyCard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    align-items: center;
    border-bottom: 1px solid var(--textColor);
    padding:50px 0px;
}

.page h3{
    font-size: 50px;
}

.keyText{
    width: 50%;
    color: var(--textColor);
    
}

/* TODO VAlues  */
.valuesSection{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
}

.valuesSection h3{
    width: 100%;
}

@media (max-width:1000px){

    .valuesSection h3{
        width: 100%;
        text-align: center;
    }

    .page{
        padding: 10vh 20px;
    }

    .header{
        justify-content: space-around;
    }

    .keyPointContainer{
        justify-content: center;
        outline: 5px solid var(--html);
    }

    .keyCard{
        flex-direction: column;
        height: auto;
    }
    .keyCard h3{
        margin-bottom: 20px;
    }
    .keyText{
        width: 100%;
    }

    .keyText p{
        width: 100%;
        font-size: 4vw;
        font-size: clamp(25px, 4vw,100px);
    }

    .valuesSection{
        padding-top: 10vh;
        justify-content: space-between;
    }
    
    .valuesContainer{
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding-bottom: 20px;
        color: rgb(56, 56, 56);
    }

    .valuesList{
        height: auto;
        width: 100%;
    }

    .valuesList li{
        padding-top: 30px;
        font-size: 5vw;
    }

    .valuesImg{
        width: 100%;
        height: 50%;
    }
    
    .valuesImg p{
        width: 100%;
        height: 400px;
        padding: 20px;
        font-size: 5vw;
        /* line-height: 1.7em; */
    }
    
    .valueTxtBox{ 
        translate: 0 400px;
        transition: 0.5s;
    }


.textContainer p span{
    line-height: 3.7rem;
}   
}