@import 'Navbar.css';
@import 'Footer.css';

main{
    padding-top: 10vh;
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100dvh;
    overflow:hidden;
}

:root{
    --coming : #E6E49F;
    --coming : #FFA800;
}

/* !! COMING SOON COMPOENT Delete when unuse */
#comingSoon{
    top: 0;
    left:0;
    position: fixed;
    background-color: #FFFFF2;
    width: 100vw;
    height: 100dvh;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    padding:10px;
    padding-bottom: 20px;
}

#lottie{
    padding: 0;
    max-height: 50vh;
    max-width: 50vh;
}

#comingSoon h1{
    color: black;
    font-size: clamp(20px, 9vw, 70Px);
    text-align: center;
    border: 10px solid var(--coming);
    background-color: var(--coming);
    padding: 10px;
    border-radius: 25px;
    position: relative;
    z-index: 10001;
}

#comingSoon h1 span {
   font-size:  clamp(50px, 12vw, 130px);
   background-color: #FFFFF2;
    border-radius: 20px;
    padding: 10px;
}

#comingSoon h1, h1::before, h1::after{
    animation: move 5s infinite alternate-reverse;
    box-shadow:7px 5px rgba(0, 0, 0, 0.537)  ;
    box-shadow:7px 5px rgba(0, 0, 0, 0.537)  ;
}

#comingSoon h1::before{
    content: '';
    position: absolute;
    background-color: var(--coming);
    height: 10px;
    width: 100px;
    border-radius: 20px;
}

#comingSoon h1::after{
    content: '';
    position: absolute;
    background-color: var(--coming);
    height: 10px;
    width: 25px;
    border-radius: 50%;
    border-radius: 20px;
}


#soonText1::before{
    bottom: -30px;
    left: 40px;
}
#soonText1::after{
    bottom: -50px;
    left: 130px;
    left: 115px;
}

#soonText2::before{
    top: -30px;
    right: 40px;
}
#soonText2::after{
    top: -50px;
    right: 130px;
    right: 115px;
}


@keyframes move{
    0%{
        translate: 0px 0px;
    }
    50%{
        translate: 0px 5px;
    }
}
