
.modalMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: 0.4s;
}
.blurbg{
    animation: blury forwards 1s;
}

.emptyClose{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.menu{
    padding-top: 10vh;
    padding-bottom: 5vh;
    position: absolute;
    width:50vw;
    height:100vh;
    top: 0;
    left: 0;
    background: var(--bg);
    background: var(--bgColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    animation: menuAnimation 0.5s forwards ease-in-out;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-timing-function:ease-in;
    transition: 0.5s;
    z-index: 99;
    opacity: unset;
    border: 10px solid var(--textColor);
    border-left: unset;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}

.menu_deroulant{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: plakkaat;
    font-size: 5vw;
    padding-top:20px ;
    padding-bottom:20px ;
    color: var(--textColor);
}

.shrink{
    transition: 300ms;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    font-size: 3vw;
    font-family: plakkaat;
}

.shrink div{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}

.shrink a{
    font-weight: 100;
    margin: 10px;
}


.menu_deroulant:hover .shrink{
    grid-template-rows: 1fr;
    padding-top: 5px;
}


.link{
    font-family: plakkaat;
    font-size: 5vw;
    padding-top:20px ;
    padding-bottom:20px ;
    z-index: 100;
    color: var(--textColor);
    text-align: center;
}

.img_container{
      position: absolute;
      display: none;
      z-index: 101;
      left:-8%;
  }

  @keyframes blury{
    0%{
        backdrop-filter: blur(0px);

    }
    100%{
        backdrop-filter: blur(10px);

    }
  }
 
  @keyframes menuAnimation{
      0%{
        transform: translateX(-100%);
        border-top-right-radius: 20% ;
        border-bottom-right-radius: 20%;
      }

     /*  70%{
        border-top-right-radius: 20% ;
        border-bottom-right-radius: 20%;
      } */
    100%{
        transform: translateX(0%);
        border-top-right-radius: 1% ;
        border-bottom-right-radius: 1%;
    }
  }

  .btn_box{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



  @media screen and (max-width:700px) {
    .menu{
        width: 100%;
        border:unset;
    }

    .link,.menu_deroulant{
        font-size: 12vw;
    }


    .shrink{
        font-size: 8vw;
    }

    .btn_box{
        height: 70px;
        top: 0;
        right: 0;
        position: absolute;
    }

}

