.home_header{
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.5; 
    padding: 0px 100px;
}


.home_header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

  .home_header h1{
    font-size: 11vw;
    padding: 0;
    line-height: 11vw;
  }

  .home_header h3{
    padding-top: 100px;
    font-size: 4vw;
    text-align: center;
  }


  


@media screen and (max-width:1400px) {
  .hero-banner-text-container{
    width: 100%;
  }

}

@media screen and (max-width:800px) {
    .home_header{
        min-height: 100vh;
        min-height: 100svh;
        min-height: 100dvh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 1.5; 
        padding: 0px 10px;
    }

  }