.hero{
    height: 100vh;
    position: relative;
    border-bottom: 3px solid var(--textColor);
    z-index: 1;
}

.parallax_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.parallax_wrapper img{
    object-fit: contain;
    position: absolute;
}

.crowd3{
    z-index: 1;
}

.crowd2{
    transform: translateY(100px);
    z-index: 2;
}
.crowd1{
    z-index: 3;
}

.stage{
    transform: translateY(150px);
}

.title{
    position: absolute;
    z-index: 2;
    top: 80vh;
    font-size: 10vw;
}

@media (max-width: 600px) {
}